*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.bcf
*.lbg
*.css
*.dvi
*.html
*.idv
*.lg
*.log
*.run.xml
*.tmp
*.xref
*~

*.docx
*.ps
*.eps
*.tif
*.xcf
*.png
*.jpg
*.dna
*.pdf

/fcm.sh
/paper.tex
/sandbox
/build
/examples
/peer_review
/addgene
/drafts

graphics
