\begin{tabular}{ll}
\toprule
Name & Sequence \\
\midrule
{% for name, seq in components -%}
    {{ name }} & \texttt{{ '{' }}{{ seq.dna | upper }}{{ '}' }} \\
{% endfor -%}
\bottomrule
\end{tabular}

