\begin{tabular}{ll}
\toprule
Name & Sequence \\
\midrule
{% for name, seq in components -%}
    {{ name }} & \texttt{{ '{' }}{{ manual_alignments.get(name, seq.dna) }}{{ '}' }} \\
{% endfor -%}
\bottomrule
\end{tabular}

